<h4 style='color: red'>You have a request to identify email</h4>
<p>Hi {{email}}!</p>
<p>We noticed your request to identify your email. Enter below OTP to identify
  your email</p>
<p>OTP: {{otp}}</p>
<p>Thanks,</p>
<p>The Fupartment Store team.</p>